@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-display: 'Plus Jakarta Sans', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'monospace';
  --breakpoint-3xl: 1920px;
  --color-background: #0f172a;
  --color-card: #1e293b;
  --color-secondary: #64748b;
  --color-border: #334155;
  --color-foreground: #cbd5e1;
  --color-muted-foreground: #94a3b8;
  --color-foreground-strong: #f8fafc;
  --color-primary-gradient-from: #2dd4bf;
  --color-primary-gradient-to: #a3e635;
  --color-card-foreground: #f8fafc;
  --color-secondary-foreground: #f8fafc;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@layer theme {
  :root {
    --spacing: 0.25rem;
  }
}
@layer utilities {
  .mt-8 {
    margin-top: calc(var(--spacing) * 8);
  }
  .w-17 {
    width: calc(var(--spacing) * 17);
  }
  .pr-29 {
    padding-right: calc(var(--spacing) * 29);
  }
}
